.app__navbar {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	padding: 1rem 2rem;
	color: blue;
}

.app__navbar-logo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.app__navbar img {
	width: 100px;
}

.app__navbar-links {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
}

.app__navbar-links li {
	margin: 0 1rem;
	font-size: 0.65rem;
	cursor: pointer;
}

.app__navbar-links li:hover {
	color: var(--color-grey);
	cursor: pointer;
}

.app__navbar-login {
	display: flex;
	gap: 0.5rem;
	justify-content: flex-end;
	align-items: center;
	transition: all 0.5s ease-in-out;
}

.app__navbar-login a {
	font-size: 0.65rem;
	margin: 0 1rem;
	transition: 0.5s ease;
	text-decoration: none;
}

.app__navbar-login a:hover {
	color: var(--color-golden);
	border-bottom: 1px solid var(--color-golden);
}

.app__navbar-bar {
	width: 1px;
	height: 15px;
	background: var(--color-grey);
	margin: 0 0.5rem;
}

.app__navbar-smallscreen {
	display: none;
}

.app__navbar-smallscreen_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1000;
	background: var(--color-black);
	transition: 0.5s ease-in-out;
	flex-direction: column;
}

.app__navbar-links_smallscreen li {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-golden);
	margin-bottom: 1rem;
}

.app__navbar-links_smallscreen li:hover {
	cursor: pointer;
	color: #fff;
}



.app__navbar-smallscreen_overlay .overlay__close {
	font-size: 27px;
	color: var(--color-golden);
	cursor: pointer;
	position: absolute;
	top: 20px;
	right: 20px;
}

@media screen and (max-width: 768px) {
	.app__navbar-links {
		display: none;
	}

	.app__navbar-smallscreen {
		display: flex;
	}

}